<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Candidate Assessment</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Adminv</display-name>
    <servlet-name>Adminv</servlet-name>
    <servlet-class>com.vinay.hr.Adminv</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Adminv</servlet-name>
    <url-pattern>/Adminv</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddHr</display-name>
    <servlet-name>AddHr</servlet-name>
    <servlet-class>com.vinay.hr.AddHr</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddHr</servlet-name>
    <url-pattern>/AddHr</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteHr</display-name>
    <servlet-name>DeleteHr</servlet-name>
    <servlet-class>com.vinay.hr.DeleteHr</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteHr</servlet-name>
    <url-pattern>/DeleteHr</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Hrv</display-name>
    <servlet-name>Hrv</servlet-name>
    <servlet-class>com.vinay.hr.Hrv</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Hrv</servlet-name>
    <url-pattern>/Hrv</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddJob</display-name>
    <servlet-name>AddJob</servlet-name>
    <servlet-class>com.vinay.hr.AddJob</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddJob</servlet-name>
    <url-pattern>/AddJob</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteJob</display-name>
    <servlet-name>DeleteJob</servlet-name>
    <servlet-class>com.vinay.hr.DeleteJob</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteJob</servlet-name>
    <url-pattern>/DeleteJob</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Addc</display-name>
    <servlet-name>Addc</servlet-name>
    <servlet-class>com.vinay.hr.Addc</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Addc</servlet-name>
    <url-pattern>/Addc</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Calculate</display-name>
    <servlet-name>Calculate</servlet-name>
    <servlet-class>com.vinay.hr.Calculate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Calculate</servlet-name>
    <url-pattern>/Calculate</url-pattern>
  </servlet-mapping>
</web-app>